rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if true;
    }
    match /courses/{courseId} {
      allow read, write: if true;
    }
    match /syllabi/{syllabusId} {
      allow read, write: if true;
    }
    match /pyqs/{pyqId} {
      allow read, write: if true;
    }
    match /assessments/{assessmentId} {
      allow read, write: if true;
    }
  }
}
